In [2]:

import pandas as pd

df = pd.read_excel('./raw/ca/CEDA 2018 Data.xlsx')
df

,RecordID,RACEID,CO#,JUR,CNTYNAME,YEAR,DATE,PLACE,CSD,OFFICE,...,CHECKRUNOFF,Multi_RaceID,Multi_CandID,Multi_CO,Indivtotal_votes,Multitotal_votes,Total_writein,Newtotvotes,Rindivto,Newelected
0,201800001,1,1,1,ALAMEDA,2018,2018-06-05,Alameda,0,ASSESSOR,...,1,201800001,201800001,0,63279,252185,2109,254294,2.0,3
1,201800002,1,1,1,ALAMEDA,2018,2018-06-05,Alameda,0,ASSESSOR,...,1,201800001,201800002,0,98828,252185,2109,254294,1.0,3
2,201800003,1,1,1,ALAMEDA,2018,2018-06-05,Alameda,0,ASSESSOR,...,0,201800001,201800003,0,35447,252185,2109,254294,4.0,2
3,201800004,1,1,1,ALAMEDA,2018,2018-06-05,Alameda,0,ASSESSOR,...,0,201800001,201800004,0,54631,252185,2109,254294,3.0,2
4,201800005,2,1,1,ALAMEDA,2018,2018-06-05,Alameda,0,AUDITOR-CONTROLLER-CLERK-RECORDER,...,0,201800002,201800005,0,103733,241321,2670,243991,2.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6647,201806645,2232,58,3,YUBA,2018,2018-11-06,Nevada County Office of Education,0,SCHOOL BOARD MEMBER,...,0,201801747,201806434,1,120,51400,1,51401,2.0,2
6648,201806649,2234,58,3,YUBA,2018,2018-11-06,Wheatland Elementary,0,SCHOOL BOARD MEMBER,...,0,201802152,201806435,0,575,3059,14,3073,4.0,2
6649,201806650,2234,58,3,YUBA,2018,2018-11-06,Wheatland Elementary,0,SCHOOL BOARD MEMBER,...,0,201802152,201806436,0,735,3059,14,3073,3.0,1
6650,201806651,2234,58,3,YUBA,2018,2018-11-06,Wheatland Elementary,0,SCHOOL BOARD MEMBER,...,0,201802152,201806437,0,775,3059,14,3073,2.0,1
6651,201806652,2234,58,3,YUBA,2018,2018-11-06,Wheatland Elementary,0,SCHOOL BOARD MEMBER,...,0,201802152,201806438,0,974,3059,14,3073,1.0,1